<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h2>Саша Ювелир</h2>

    <p>
    <img src="https://a.d-cd.net/jQAAAgJlQ-A-1920.jpg" alt="Моя картинка" width="300" /> <br>
    Меня Зовут Саша, я работаю <a href="https://generatom.com/joke">Наблюдателем за сохнущей краской</a>, <em>а это мой блох!</em><br>
    Здесь я вам расскажу про то как надо <del>уговаривать краску сохнуть!</del><br>
    Еще я <strong>отлично</strong> готовлю, и буду делиться с вами своими <mark>божественными</mark> рецептами!
    </p>


</head>
<body>

</body>
</html>